<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>Planticas</title>
  <link rel="icon" href="img-plantas/icono.png">
  <script src="js/script.js"></script>
</head>

<body>

  <nav class="navbar bg-dark" data-bs-theme="dark">
    <img id="logotipo" th:src="@{img/logo.png}" alt="logotipo">
        <li class="lista-2-dinamica" style="--clr:#00ade1;">
            <a class="item-lista-dinamica" th:href="@{/index}" data-text="&nbsp;Inicio">&nbsp;Inicio&nbsp;</a>
        </li>
        <li  class="lista-2-dinamica" style="--clr:#ff6493;">
            <a class="item-lista-dinamica"  th:href="@{/listarFactura}" data-text="&nbsp;Factura">&nbsp;Factura&nbsp;</a>
        </li>
        <li class="lista-2-dinamica" style="--clr:#ffdd1c;">
            <a class="item-lista-dinamica"  th:href="@{/inventario}" data-text="&nbsp;Inventario">&nbsp;Inventario&nbsp;</a>
        </li>
        <li class="lista-2-dinamica" style="--clr:#00dc82;">
            <a class="item-lista-dinamica"  th:href="@{/reporte}" data-text="&nbsp;Reportes">&nbsp;Reportes&nbsp;</a>
        </li>
        <li class="lista-2-dinamica" style="--clr:#b006a7;">
          <a class="item-lista-dinamica"  th:href="@{/listar}" data-text="&nbsp;Listar">&nbsp;Listar&nbsp;</a>
      </li>
      <label sec:authentication="name" class="text-success"></label>
        <p><a th:href="@{/logout}" class="btn btn-danger btn-xs m-2">salir</a></p>
    </ul>
  </nav>
  <!--fin navar-->

  <div class="container mt-5">
    <div class="cont-tabla">
      <form th:action="@{/formfactura}" th:object="${factura}" method="post">
        <table class="table table-striped">
          <div class="row m-2 valores mt-4">
      
                  
            <span class="input-group-text col-2 ">Cliente</span>
            <input type="text" class=" col-2 " value="1" >
      
            <a th:href="@{/form}"> <button type="button" class="btn btn-outline-primary col-2 " ><h4>Agregar Cliente</h4></button></a>
            </div>
          <thead class="thead" style="background-color: #4fb4af;">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Nombre</th>
              <th scope="col">Val Unitario</th>
              <th scope="col">Val Total</th>
            </tr>
          </thead>
          <tbody class="table-group-divider " style="background-color: rgba(255, 255, 255, 0.6);">
            <tr>
              <th scope="row">1</th>
              <td><input type="number" class="form" id="cantidad1" oninput="calcularvalortotalPorProducto()"></td>
              <td>NN</td>
              <td><input type="number" class="form" id="valorUnidad1" oninput="calcularvalortotalPorProducto()"></td>
              <td><input type="number" class="form" id="valtotal1" disabled></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><input type="number" class="form" id="cantidad2" oninput="calcularvalortotalPorProducto()"></td>
              <td>NN</td>
              <td><input type="number" class="form" id="valorUnidad2" oninput="calcularvalortotalPorProducto()"></td>
              <td><input type="number" class="form" id="valtotal2" disabled></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><input type="number" class="form" id="cantidad3" oninput="calcularvalortotalPorProducto()"></td>
              <td>NN</td>
              <td><input type="number" class="form" id="valorUnidad3" oninput="calcularvalortotalPorProducto()"></td>
              <td><input type="number" class="form" id="valtotal3" disabled></td>
            </tr>
          </tbody>
        </table>
    
    
    <div class="row m-2 valores mt-4">
      
      <span class="input-group-text col-2 " id="span">Cancela Con</span>
      <input type="number" class="col-2 " id="pago" oninput="calcularvalortotalPorProducto()">

      <span class="input-group-text col-2 ">Total</span>
      <input type="text" th:field="*{total}" 
      th:errorclass="'form-control alert-danger'" class=" col-2 " id="total" ><small  th:if="${#fields.hasErrors('total')}" th:errors="*{total}">
      </small>     
      
      <div class="row" id="label" >
      <span class="input-group-text col-2 ">Vueltos</span>
      <input type="number" class="col-2" id="vueltos" disabled>
      </div>

      <div class="row" id="label" >
        <span class="input-group-text col-2 ">descripcion</span>
        <input type="text" class="col-8"  th:field="*{descripcion}" 
        th:errorclass="'form-control alert-danger'"  ><small  th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">
        </small>     
        
      </div>
      
      <input type="submit" value="Pagar" class="btn btn-primary m-2">
    </div>
    </div>
    
    </form> 

  </div>




  <footer class="footer bg-dark text-white text-center mt ">
    <div class="container">
      <div class="row pt-2">
        <div class="col">
          <h3>CONTACTO</h3>
          <button type="button" class="btn btn-outline-primary"> <i class="bi bi-facebook"></i></button>
          <button type="button" class="btn btn-outline-success"><i class="bi bi-whatsapp"></i></button>
          <button type="button" class="btn btn-outline-warning"><i class="bi bi-instagram"></i></button>
        </div>
        <div class="col">
          <h3>CORREO</h3>
          <p>planticas@gmail.com</p>
          <p>Tel: 6505555</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>

</body>

</html>